<!DOCTYPE HTML>
<html>

<link rel="stylesheet" type="text/css" href="../static/CSS/mazeCSS.css">
<script type="text/javascript"
        src="../static/JS/maze_Generation.js"
        type="module">
</script>

<body>
    <div class="bodyDiv">
        <!--maze div will go here-->
        <script>

            let newMaze = new maze_Generation(10,10);
            let cols = 10;
            let rows = 10;
            let missMoves = 0;
        
            //takes the values of the height/width inputs and creates a maze based on them
            //additionally this makes sure the "playButton" is now visible to the players
            function assembleMaze(){
                cols = document.getElementById('latitude').value;
                rows = document.getElementById('longitude').value;
                
                document.getElementById("maze-div").style.display="flex";

                makeMaze('bank',rows,cols);

                document.getElementById("start-span").style.marginTop= (newMaze.getStartPos()*15)+"px";
                console.log("ext xPos = " + newMaze.getExtXPos()+ " ext yPos = "+ newMaze.getExtYPos());
                if(newMaze.getExtXPos() == 0){
                    //alert("left")
                    document.getElementById("end-span-right").style.visibility="hidden";
                    document.getElementById("end-span-buffer").style.display="block";
                    document.getElementById("end-span-left").style.display="block";
                    document.getElementById("end-span-left").style.marginTop= (newMaze.getExtYPos()*15)+"px";
                }else{
                    //alert("right")
                    document.getElementById("end-span-left").style.display="none";
                    document.getElementById("end-span-buffer").style.display="none";
                    document.getElementById("end-span-right").style.visibility="visible";
                    document.getElementById("end-span-right").style.marginTop= (newMaze.getExtYPos()*15)+"px";
                }
                
                document.getElementById("starter-text-div").style.display="none";
                document.getElementById("playButton").style.display="block";
                document.getElementById("dir-Div").style.display="none";
            }

            //generates maze object and displays it
            const makeMaze=function(id,width,height){
                newMaze = new maze_Generation(width,height);
                newMaze.displayMaze(id);
            };

            //general function to move the "player in the direction passed"
            function makeMove(id, direction){
                if(!newMaze.movePlayer(direction)){
                    missMoves += 1;
                }else{
                    missMoves = 0;
                }
                if(missMoves >= 3){
                    alert("You can't move that direction (Click Enter)");
                }
                newMaze.displayMaze(id);
                console.log("make-move runs")
                if(newMaze.getCleared()){
                    alert("Maze Cleared!!!");
                }
            }

            //essentially hides the "Play" button and makes the movement instructions/buttons visible
            function allowPlay(id){
                document.getElementById("playButton").style.display="none";
                document.getElementById("dir-Div").style.display="block";
                newMaze.initalizePlayer();
                newMaze.displayMaze(id);
            }

            //arrow on press method from GeeksForGeeks
            //sourse: https://www.geeksforgeeks.org/javascript-detecting-the-pressed-arrow-key/
            document.onkeydown = function(e) {
                //if statement to ensure arrow-key movement does not proceed play activation
                if(document.getElementById("dir-Div").style.display == "block"){
                    switch (e.keyCode) {
                        case 37:
                            makeMove('bank','left');
                            break;
                        case 38:
                            makeMove('bank','up');
                            break;
                        case 39:
                            makeMove('bank','right');
                            break;
                        case 40:
                            makeMove('bank','down');
                            break;
                    }
                }
            };
        </script>

        <div class="starter-text-div" id="starter-text-div">
            <span class="starter-text">Click 'Make Maze' to begin!</span>
        </div>

        <!--the maze goes in the div below-->
        <div class="maze-div" id="maze-div" style="display: none;">
                <span class="start-end-span" id="start-span">
                    Start
                </span>

                <span class="start-end-span" id="end-span-left">
                    End
                </span>

            <div class="maze-bank" id='bank'></div>

            <span class="start-end-span" id="end-span-right">
                End
            </span>
            <!--this is just a spacing buffer-->
            <span class="start-end-span" id="end-span-buffer" style="display: none; visibility: hidden;">
            </span>
            
        </div>

        

        <div class="input-div" id="input-div">
            <label>Width: </label>
            <input type="number" id="latitude" name="latitude" min="2" max="30" value="10">
            <label>Height: </label>
            <input type="number" id="longitude" name="longitude" min="2" max="30" value="10">
            <button class="make-maze-but" onclick="assembleMaze();">Make Maze!</button>
        </div>

        <button class="playButton" 
                id="playButton" 
                onclick="allowPlay('bank');">PLAY MAZE!
        </button>

        <div class="dir-button-div" id="dir-Div">
            <label id="directionLabel">
                Use the arrow keys or the buttons below to navigate the maze!
            </label>
            <div class="button-div">
                <button id="upButton" class="dir-button" onclick="makeMove('bank','up');">Move Up!</button>
                <button id="downButton" class="dir-button" onclick="makeMove('bank','down');">Move Down!</button>
                <button id="leftButton" class="dir-button" onclick="makeMove('bank','left');">Move Left!</button>
                <button id="rightButton" class="dir-button" onclick="makeMove('bank','right');">Move Right!</button>
            </div>
        </div>
    </div>
</body>
</html>
