.bodyDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* maze based CSS */

#generatedMaze{
    display: flex;
    flex-wrap: wrap;
}
.wall{
    width: 15px;
    height: 15px;
    background-color: black;
}
.path{
    width: 15px;
    height: 15px;
    background-color: whitesmoke;
}
.walked{
    width: 15px;
    height: 15px;
    background-color: lightskyblue;
}

.entrance{
    width: 15px;
    height: 15px;
    background-color: blue;
}

.exit{
    width: 15px;
    height: 15px;
    background-color: red;
}

/* template CSS */
.maze-div{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 0.5%;
}

.maze-bank{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.starter-text-div{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.starter-text{
    font-weight: bold;
    font-size: 32px;
}

.start-end-span{
    margin-left: 0.1%;
    margin-right: 0.1%;
    height: 20px;
    width: 31px;
    font-size: 15px;
}

.input-div{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.playButton{
    display: none;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

.dir-button-div{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#directionLabel{
    font-size: 22px;
    font-weight: bold;
}

.button-div{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.dir-button{
    margin-left: 0.5%;
    margin-right: 0.5%;
}


